:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 28%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  /* 
  1. "Verified Graduate" has the same color as the person's name with 50% opacity
  2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity 
  */
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: var(--Light-grayish-blue);
}

.cards-section {
  display: grid;
  margin: auto;
  padding: 5rem 1rem;
  row-gap: 2rem;
  column-gap: 2rem;
  max-width: 1200px;
}

.card {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: var(--Light-gray);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-purple {
  background: url(../images/bg-pattern-quotation.svg) no-repeat;
  background-color: var(--Moderate-violet);
  background-position: 88% 0%;
}

.card-white {
  color: var(--Very-dark-grayish-blue);
  box-shadow: 3px 3px 10px -4px hsla(219, 28%, 14%, 0.225);
}

.card-grey {
  background-color: var(--Very-dark-grayish-blue);
}

.card-dark-blue {
  background-color: var(--Very-dark-blackish-blue);
}

.card-white {
  background-color: var(--White);
}

@media screen and (min-width: 960px) {
  .cards-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .card-purple {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .card-dark-blue {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .card-white:first-of-type {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .card-white:last-of-type {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.card-dark-blue .account-info img {
  border: 2px solid var(--Moderate-violet);
}

.card-purple .account-info img {
  border: 2px solid hsl(264deg 82% 70%);
}

.card .account-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card .account-info img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.card .account-info p {
  opacity: 50%;
}

.card h4 {
  font-size: 1.46rem;
  margin-bottom: 1rem;
}

.card q {
  opacity: 75%;
  font-size: 0.9rem;
  line-height: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Moderate-violet);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
